<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>所有成员－班级说说</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
     <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    
    <%include header.ejs%>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <%for(var i = 0;i< suoyouchengyuan.length;i++){%>
          <div style="border-bottom: 1px solid #ccc;">
              <a href="/user/<%= suoyouchengyuan[i].username%>" target="_blank">
                <h4 style="height: 20px;padding: 0 20px 0;">
                   <span><%= suoyouchengyuan[i].username%></span>
                   <img src="/avatar/<%= suoyouchengyuan[i].avatar%>" style="width: 20px;border-radius: 10px;" class="pull-right">
                </h4> 
              </a>
          </div>
          
        <%}%>
      </div>
    </div>


    <%include footer.ejs%>

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
  </body>
</html>
